<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Basic HTML File</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="main.css" rel="stylesheet">
    </head>
    <body class="img-responsive">
      <h1>Tired of manually managing events? Worry no more!</h1>
      <h1>Welcome to Events Manager.</h1>
      <p>This application will help you accept applications to use your center / facilities, and will either decline events when the proposed day is already taken, or suggest an available day</p>
    </body>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='static/js/bootstrap.min.js'></script>
</html>