<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Millicent's facilities</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="main.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          
        </nav>
        <div class="container main-content">
            <div class="row">
                <div class="col-sm-6">
                    <h1><strong>Planning an event?</strong></h1>
                    <h5>We offer world class facilities for in-door and outdoor events. Whatever you need we've got you covered!</h5>
                    <button class="btn btn-primary btn-lg active">Register</button>
                    <button class="btn btn-primary btn-lg">Log in</button>
                </div>
            </div>
        </div>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <!-- <script src='static/js/bootstrap.min.js'></script> -->
</html>