<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Millicent's facilities</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="main.css" rel="stylesheet">
    </head>
    <body class="signup-page">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Milly's facilities</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><button class="btn btn-default active navbar-btn">Register</button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container col-md-offset-3 login-form">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="email" placeholder="Enter email address" class="form-control input-lg" id="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="password" placeholder="Enter password" class="form-control input-lg" id="pwd" required>
                    </div>
                </div>
                <div class="form-group">
                    <a href="#" class="btn btn-lg btn-primary col-xs-6 active sign-in-btn">Sign In</a>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 help-block">
                        <a href="#"><h4 class="text-center">Having trouble signing in?</h4></a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 help-block">
                            <div class="col-xs-5"><hr/></div>
                            <h4 class="col-xs-1 text-center">or</h4>
                            <div class="col-xs-6"><hr/></div>
                        </div>
                    </div>
                </div>  
                <div class="form-group">
                    <a href="Register.html" class="btn btn-lg btn-default active col-xs-6 sign-in-btn">Register</a>
                </div>  
            </form>
        </div>
              
        <div class="footer">
            <p>Designed by Millicent</p>
        </div>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</html>