<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Millicent's facilities</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="main.css" rel="stylesheet">
    </head>
    <body class="signup-page">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Milly's facilities</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><button class="btn btn-primary navbar-btn">Register</button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container col-md-offset-4">
            <form class="form-horizontal">
                <div class="form-group col-sm-6">
                    <label for="email">Email address:</label>
                    <input type="email" placeholder="Enter email address" class="form-control" id="email" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="pwd">Password:</label>
                    <input type="password" placeholder="Enter password" class="form-control" id="pwd">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
              
        <div class="footer">
            <p>Designed by Millicent</p>
        </div>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <!-- <script src='static/js/bootstrap.min.js'></script> -->
</html>