body.index-page{
    background: url("images/myPic.jpeg") rgba(0, 0, 0, 0.1) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-content{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400px;
    margin-top: 10%;
}

.log-in{
    margin-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
}

#terms-and-conditions{
    color:dodgerblue;
}

.reg-submit-btn{
    margin-left: 0.7% !important;
}